# 1. deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mmt-probe
  annotations:
    k8s.v1.cni.cncf.io/networks: monitor-macvlan-net
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mmt-probe
  template:
    metadata:
      labels:
        app: mmt-probe
    spec:
      nodeSelector:
        kubernetes.io/hostname: nsit-intact-w0
      containers:
      - name: mmt-probe
        image: ghcr.io/montimage/mmt-probe:v1.6.0
        imagePullPolicy: Always
        env:
        - name: "MMT_SEC_5G_DOS_NGAP_INITIALUEMESSAGE_MS_LIMIT"
          value: "100" #allow max 100 InitialUEMessage during 1 millisecond
        - name: "MMT_SEC_5G_DOS_HTTP2_MS_LIMIT"
          value: "80"  #allow max 80 http2 requests having method == 131 or 130, or type == 8
        command: ["/bin/bash"]
        args: 
        - "-c"
        # run nc to listen on UDP port 5000
        #  then stream data to MMT-Probe
        - >
          apt install -y netcat && while true; do
          date;
          nc -vlp 5000 | mmt-probe -t- 
          -Xprobe-id=5
          -Xkafka-output.enable=true
          -Xkafka-output.hostname=kafka
          -Xkafka-output.port=9092
          -Xkafka-output.topic=mmt-reports
          -Xsession-report.output-channel=kafka
          -Xsecurity.enable=true
          -Xsecurity.ignore-remain-flow=DPI
          -Xsecurity.exclude-rules=0-89,100-1000
          -Xsecurity.output-channel=kafka,stdout
          ; date; done
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"        

---
# MMT-Probe service
apiVersion: v1
kind: Service
metadata:
  labels:
    app: mmt
  name: mmt
spec:
  selector:
    app: mmt-probe
  ports:
    - name: mmt
      port: 5000
      targetPort: 5000
      protocol: TCP