*.a
*.o
*.lo
*.la
*.so*
*.deps/
*.libs/
tags
config.log
config.status
callgrind.out.*
cachegrind.out.*
perf.data
INSTALL
Makefile
Makefile.in
*.swp
*~

# ignoring binaries

src/examples/extract_all
src/examples/proto_attribute_list
src/examples/sessions_count
src/examples/simple_packet_handler
src/examples/pimi_probe/mmt_ecitiz_probe
src/examples/thales_probe/mmt_security
src/examples/arp_probe/arp_probe
src/examples/fuzz_testing/fuzz
src/examples/simple_probe/mmt_online
src/examples/simple_probe/mmt_probe
src/examples/simple_probe/smp_mmt
src/examples/proto_attributes_iterator
